<!--Bắt buộc phải có modalForm thêm vào bên trong list.html, nếu không nó sẽ chạy kém ổn định 2025.04.04 10h03-->
<div class="ui modal modalForm">
    <i class="close icon"></i>

    <div class="body">

        <!-- <i class="icon spinner loading" style="font-size: 48px;"></i> -->
        <br>
        Tải form vào đây, Đảm bảo luôn chỉ có 1 modal duy nhất trong trang mà thôi
    </div>

</div>
<div class="ui modal modalLoad" style="display:none;text-align: center;width: 50px;">
    <i class="icon spinner loading" style="font-size: 48px;"></i>
</div>