<div class="ui container">
    <a class="ui primary button" href="/admin/manufacturer">
        <i class="left arrow icon"></i>Quay Lại Danh Sách</a>

    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui header">
                Form Manufacturer (Nhà Sản Xuất)
            </h2>
        </div>
        <form class="ui form large segment manufacturer" method="post" th:action="${action}" th:object="${entity}" style="margin: 0px;">
         
                <input type="hidden" th:field="*{id}" />

                <div class="field">
                    <label>Tên Nhà Sản Xuất </label>
                    <input type="text" th:field="*{name}" />
                </div>

                <div class="field">
                    <label>Mô tả (SummerNote)</label>
                    <textarea th:field="*{description}" class="HtmlEditor"></textarea>
                    <script>
                        // 
                        // Gây lỗi, khi bị render theo kiểu Ajax
                        // try {
                        //     $('.HtmlEditor').summernote();
                        // } catch (error)
                        // { // Không bắt được lỗi: TypeError: TypeError: "x" is not a function
                        //     console.log('summernote failed for ajax rendering html');
                        //     // alert('summernote failed');
                        // }
                    </script>
                </div>

                <div class="field">
                    <label>Đường link</label>
                    <input type="text" th:field="*{link}" />
                </div>

                <div class="field">
                    <label>Ảnh</label>
                    <input type="text" th:field="*{image}" />
                </div>

                <div class="field">
                    <label>Thứ tự</label>
                    <input type="number" th:field="*{orderNumber}" />
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" th:field="*{active}">
                        <label>Cho Phép</label>
                    </div>
                </div>

                <br />
                <div class="ui buttons right floated">
                    <button type="submit" class="ui primary button"><i class="save icon"></i>&nbsp;Lưu</button>
                    <div class="or"></div>
                    <button type="reset" class="ui button">
                        
                        Huỷ
                    </button>
                    <a class="ui button" href="/admin/manufacturer">
                        <i class="list icon"></i>&nbsp;Danh Sách
                    </a>
                </div>
            
                <div class="ui error message"></div>
                <br style="clear: both"/> <!--chống sập: collapsed -->
        </form>
    </div>
</div>