<!DOCTYPE html>
<html>
    <head>
        <title>Something went wrong !</title>
        <style>
            body {
                background-image: url(https://thumbs.dreamstime.com/b/website-error-bad-request-vector-artwork-depicts-funny-humorous-scenario-human-stick-figure-http-85523122.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
<body>
    <h1>Lỗi 400-Yêu cầu của bạn tệ quá ! </h1>
    <h2>Bạn vui lòng duyệt trang khác.</h2>
    <a href="/">Quay lại Trang Chủ</a>
</body>

</html>