<!DOCTYPE html>
<html>
    <head>
        <title>Something went wrong !</title>
        <style>
            body {
                background-image: url(https://t4.ftcdn.net/jpg/05/69/69/09/360_F_569690943_spHZvVp0bi8xTheZVolLBoaH517JFANI.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
<body>
    <h1>Lỗi 500-Lỗi nội bộ máy chủ ! </h1>
    <h2>Chúng tôi đang xem lại, bạn vui lòng quay lại sau.</h2>
    <a href="/">Quay lại Trang Chủ</a>

    <br>
    <b>Các lỗi tiềm năng:</b>
    <ul>
        <li>Lỗi máy chủ csdl MySQL</li>
        <li>Lỗi các tệp ThymeLeaf HTML</li>
    </ul>
</body>

</html>